

<div class="nav justify-content-center">
    <div class="jumbotron">
        <h2>Bienvenido!</h2>
        <p class="lead">
            Para cargar el horario del menú, presione el botón "Elegir archivo", para posteriormente seleccionar el archivo del horario. A continuación oprima el botón "Cargar" para guardar el archivo en el servidor.
        </p>
    </div>

    <div class="card">
        <div class="card-body">
            <form action="/loadfile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Seleccione el archivo de formato CSV: </label>
                    <input name="file" type="file" class="form-control-file">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-upload"></i> Cargar archivo</button>
                </div>
            </form>
            {{#if err}}
                <div  class="alert alert-danger" role="alert">
                    {{err}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
